@* @model HuitWorks.RecruiterWeb.Models.ViewModel.ResetPasswordViewModel *@
@* @{ *@
@*     ViewData["Title"] = "Đặt lại mật khẩu"; *@
@* } *@

@* <h2>Đặt lại mật khẩu</h2> *@
@* @if (TempData["Error"] != null) *@
@* { *@
@*     <div class="alert alert-danger">@TempData["Error"]</div> *@
@* } *@
@* @if (TempData["Success"] != null) *@
@* { *@
@*     <div class="alert alert-success">@TempData["Success"]</div> *@
@* } *@

@* <form asp-action="ResetPassword" method="post"> *@
@*     @Html.AntiForgeryToken() *@
@*     @Html.HiddenFor(m => m.IdUser) *@
@*     <div class="mb-3"> *@
@*         <label>Mật khẩu mới</label> *@
@*         @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" }) *@
@*         @Html.ValidationMessageFor(m => m.NewPassword) *@
@*     </div> *@
@*     <div class="mb-3"> *@
@*         <label>Nhập lại mật khẩu</label> *@
@*         @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" }) *@
@*         @Html.ValidationMessageFor(m => m.ConfirmPassword) *@
@*     </div> *@
@*     <button type="submit" class="btn btn-primary">Đổi mật khẩu</button> *@
@* </form> *@
